{
  "extends": "airbnb-base",
  "env": {
    "jest": true,
    "browser": true,
  },
  "globals": {
    angular: true,
  },
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": 0,
    "no-use-before-define": 0,
  }
}
